.navigation {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    place-items: center;
    gap: 1rem;

    height: 50px;
    position: sticky;
    top: 0px;

    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    justify-self: start;
    padding-left: 50px;
}

#cart {
    justify-self: end;
    padding-right: 50px;
}

#home, #shop {
    font-size: 1.3rem;
    font-weight: 600;
}
