.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;

    padding: 50px;
    margin: auto;
    width: 1700px;
}

.product {
    width: 400px;
    height: 400px;

    display: grid;
    place-items: center;
    border: black 1px solid;
}

.productPage {
    padding: 2rem;
    margin: auto;
    width: 1000px;
    display: grid;

    grid-template: 6rem 1fr 1fr 1fr/ 600px 400px;
    grid-template-areas: 
    "picture title"
    "picture description"
    "picture price"
    "picture add"
    ;
}

.product-picture {
    grid-area: picture;
    width: 500px;
    height: 500px;
    border: solid 1px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    grid-area: title;
    
    font-size: 3rem;
}

.description {
    grid-area: description;

    font-size: 1.5rem;
}

.product-price {
    grid-area: price;
    align-self: center;

}

.add {
    grid-area: add;
    place-self: center;

    width: 400px;
    height: 75px;
    border-radius: 0;
    background-color: #475569;
    border: none;

    font-size: 1.5rem;
    font-weight: 600;
    color: #f8fafc;

}
.add:hover {
    cursor: pointer;   
    background-color: #fbbf24;
}